/.idea/.idea.DemoQa/.idea/.gitignore
/Testing/bin/Debug/net5.0/AngleSharp.dll
/Testing/bin/Debug/net5.0/Chrome/96.0.4664.45/X64/chromedriver.exe
/.idea/.idea.DemoQa/.idea/encodings.xml
/Testing/bin/Debug/net5.0/ICSharpCode.SharpZipLib.dll
/.idea/.idea.DemoQa/.idea/indexLayout.xml
/Testing/bin/Debug/net5.0/Microsoft.Extensions.Configuration.Abstractions.dll
/Testing/bin/Debug/net5.0/Microsoft.Extensions.Configuration.dll
/Testing/bin/Debug/net5.0/Microsoft.Extensions.Configuration.FileExtensions.dll
/Testing/bin/Debug/net5.0/Microsoft.Extensions.Configuration.Json.dll
/Testing/bin/Debug/net5.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/Testing/bin/Debug/net5.0/Microsoft.Extensions.FileProviders.Physical.dll
/Testing/bin/Debug/net5.0/Microsoft.Extensions.FileSystemGlobbing.dll
/Testing/bin/Debug/net5.0/Microsoft.Extensions.Primitives.dll
/Testing/bin/Debug/net5.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/Testing/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Testing/bin/Debug/net5.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Testing/bin/Debug/net5.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Testing/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Testing/bin/Debug/net5.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Testing/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Testing/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Testing/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Testing/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Testing/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Testing/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Testing/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Testing/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/Testing/bin/Debug/net5.0/Microsoft.TestPlatform.CoreUtilities.dll
/Testing/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Testing/bin/Debug/net5.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Testing/bin/Debug/net5.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Testing/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Testing/bin/Debug/net5.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Testing/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Testing/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Testing/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Testing/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Testing/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Testing/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Testing/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Testing/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/Testing/bin/Debug/net5.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/Testing/bin/Debug/net5.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Testing/bin/Debug/net5.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Testing/bin/Debug/net5.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Testing/bin/Debug/net5.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Testing/bin/Debug/net5.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Testing/bin/Debug/net5.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Testing/bin/Debug/net5.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Testing/bin/Debug/net5.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Testing/bin/Debug/net5.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Testing/bin/Debug/net5.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Testing/bin/Debug/net5.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Testing/bin/Debug/net5.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Testing/bin/Debug/net5.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/Testing/bin/Debug/net5.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/Testing/bin/Debug/net5.0/Microsoft.TestPlatform.Utilities.dll
/Testing/bin/Debug/net5.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/Testing/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/Testing/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Testing/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Testing/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Testing/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Testing/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Testing/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Testing/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Testing/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Testing/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Testing/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Testing/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Testing/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Testing/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/Testing/bin/Debug/net5.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/Testing/bin/Debug/net5.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Testing/bin/Debug/net5.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Testing/bin/Debug/net5.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Testing/bin/Debug/net5.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Testing/bin/Debug/net5.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Testing/bin/Debug/net5.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Testing/bin/Debug/net5.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Testing/bin/Debug/net5.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Testing/bin/Debug/net5.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Testing/bin/Debug/net5.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Testing/bin/Debug/net5.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Testing/bin/Debug/net5.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Testing/bin/Debug/net5.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/Testing/bin/Debug/net5.0/Newtonsoft.Json.dll
/Testing/bin/Debug/net5.0/NuGet.Frameworks.dll
/Testing/bin/Debug/net5.0/nunit.engine.api.dll
/Testing/bin/Debug/net5.0/nunit.engine.core.dll
/Testing/bin/Debug/net5.0/nunit.engine.dll
/Testing/bin/Debug/net5.0/nunit.framework.dll
/Testing/bin/Debug/net5.0/NUnit3.TestAdapter.dll
/Testing/bin/Debug/net5.0/NUnit3.TestAdapter.pdb
/Testing/bin/Debug/net5.0/SeleniumExtras.WaitHelpers.dll
/Testing/bin/Debug/net5.0/System.Runtime.CompilerServices.Unsafe.dll
/Testing/bin/Debug/net5.0/System.Text.Encodings.Web.dll
/Testing/bin/Debug/net5.0/System.Text.Json.dll
/Testing/bin/Debug/net5.0/testcentric.engine.metadata.dll
/Testing/bin/Debug/net5.0/testhost.dll
/Testing/bin/Debug/net5.0/testhost.exe
/Testing/bin/Debug/net5.0/Testing.deps.json
/Testing/bin/Debug/net5.0/ref/Testing.dll
/Testing/bin/Debug/net5.0/Testing.dll
/Testing/bin/Debug/net5.0/Testing.pdb
/Testing/bin/Debug/net5.0/Testing.runtimeconfig.dev.json
/Testing/bin/Debug/net5.0/Testing.runtimeconfig.json
/Testing/bin/Debug/net5.0/TestSettings.json
/.idea/.idea.DemoQa/.idea/vcs.xml
/Testing/bin/Debug/net5.0/WebDriver.dll
/Testing/bin/Debug/net5.0/WebDriver.Support.dll
/Testing/bin/Debug/net5.0/WebDriverManager.dll
